.div-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: #fff !important;
  box-shadow: none !important;
  padding-block: 20px;
  color: #1C163C;
}

.header-menu-section {
  
}

.menu-buttons{
  color: #1C163C !important;
  text-transform:none !important;
  font-family: Inter !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 21.78px !important;
  letter-spacing: 0%;
  text-align: center;
}

.header-right-section {
  display: flex;
  color: #1C163C;
}

.signin {
  color: #FFC700;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;
  padding-inline: 20px;
}

.signup {
  border: 1.8px solid #715DE3;
  color: #715DE3;
  width: 124px;
  height: 50px;
  border-radius: 12px;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;

}