.div-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: #fff !important;
  box-shadow: none !important;
  padding-block: 20px;
  color: #1C163C;
}

.header-menu-section {}

.menu-buttons {
  color: #1C163C !important;
  text-transform: none !important;
  font-family: Inter !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 21.78px !important;
  letter-spacing: 0%;
  text-align: center;
}

.header-right-section {
  display: flex;
  color: #1C163C;
}

.signin {
  color: #FFC700;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;
  padding-inline: 20px;
}

.signup {
  border: 1.8px solid #715DE3;
  color: #715DE3;
  width: 124px;
  height: 50px;
  border-radius: 12px;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;

}


/* header end */

.footer-heading {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #000000;
  padding-bottom: 20px;
}

.footer-menu-section {
  margin-top: 10px;
}

.footer-inner {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #49557B;
  padding-bottom: 15px;
}

.footer-menu-buttons {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.end-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 20px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: -2%;
  color: #000000;
}

/* footer end */

.our-sponser {
  font-family: Inter;
  font-weight: 700;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: center;
  color: #1C163C;
  padding-bottom: 20px;
}

.our-sponser-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #645E80;
  padding-bottom: 20px;
}

.sponser-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20px;
}

.sponsers-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* sponser end */